<footer class="bg-light-black pt-5">
  <div class="px-lg-3 pt-2 pb-4">
    <div class="mx-auto px-3" style="max-width: 80rem">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-4 pb-2 mb-4">
          <img
            src="../../assets/images/ligh_logo.png"
            alt="mini-logo"
            width="117"
            class="pos-logo"
          />
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-4">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Product catalog</h3>
            <ul class="widget-list">
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Special offers</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Bakery</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Fruits and Vegetables</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Dairy and Eggs</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Meat and Poultry</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Fish and Seafood</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Sauces and Spices</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Canned Food and Oil</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Alcoholic Beverages</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Soft Drinks and Juice</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#"
                  >Packets, Cereals and Poultry</a
                >
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Frozen</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Personal hygiene</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Kitchenware</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-4">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Company</h3>
            <ul class="widget-list">
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">About us</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Store locator</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Careers at Cartzilla</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Contacts</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Help center</a>
              </li>
              <li class="widget-list-item">
                <a class="widget-list-link" href="#">Actions and News</a>
              </li>
            </ul>
          </div>
          <div class="widget widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Follow us</h3>
            <a class="social-btn sb-light sb-twitter mr-2 mb-2" href="#"
              ><i class="fab fa-twitter"></i></a
            ><a class="social-btn sb-light sb-facebook mr-2 mb-2" href="#"
              ><i class="fab fa-facebook-f"></i></a
            ><a class="social-btn sb-light sb-instagram mr-2 mb-2" href="#"
              ><i class="fab fa-instagram"></i></a
            ><a class="social-btn sb-light sb-youtube mr-2 mb-2" href="#"
              ><i class="fab fa-youtube"></i
            ></a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-8">
          <div class="widget pb-2 mb-4">
            <h3 class="widget-title text-light pb-1">Stay informed</h3>

            <div class="input-group input-group-overlay flex-nowrap">
              <div class="input-group-prepend-overlay">
                <span
                  class="input-group-text text-muted font-size-base custom-group-text"
                  ><i class="far fa-envelope"></i
                ></span>
              </div>
              <input
                class="form-control prepended-form-control"
                type="email"
                name="EMAIL"
                placeholder="Your email"
                required=""
              />
              <div class="input-group-append">
                <button class="btn btn-theme" type="submit" name="subscribe">
                  Subscribe*
                </button>
              </div>
            </div>
            <small class="form-text text-light opacity-50"
              >*Subscribe to our newsletter to receive early discount offers,
              updates and new products info.</small
            >
            <div class="widget pb-2 mb-4">
              <h3 class="widget-title text-light pb-1">Download our app</h3>
              <div class="d-flex flex-wrap">
                <div class="mr-2 mb-2">
                  <a class="btn-market btn-apple" href="#" role="button"
                    ><span class="btn-market-subtitle">Download on the</span
                    ><span class="btn-market-title">App Store</span></a
                  >
                </div>
                <div class="mb-2">
                  <a class="btn-market btn-google" href="#" role="button"
                    ><span class="btn-market-subtitle">Download on the</span
                    ><span class="btn-market-title">Google Play</span></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-darker px-lg-3 py-3">
    <div
      class="d-sm-flex justify-content-between align-items-center mx-auto px-3"
      style="max-width: 80rem"
    >
      <div
        class="font-size-xs text-light opacity-50 text-center text-sm-left py-3"
      >
        © All rights reserved. Made by
        <a class="text-light" href="#" target="_blank" rel="noopener">MIYH</a>
      </div>
      <div class="py-3">
        <img
          class="d-block mx-auto mx-sm-left"
          width="187"
          src="../../assets/images/cards-alt.png"
          alt="Payment methods"
        />
      </div>
    </div>
  </div>
</footer>
