.custom-group-text {
  height: 100%;
  background-color: white;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: none;
}

.pos-logo {
  position: relative;
  top: -8px;
  right: 28px;
}
