<div class="px-3 pt-2">
  <!-- breadcrumb -->
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

  <section
    class="d-md-flex justify-content-between align-items-center mb-4 pb-2"
  >
    <h1 class="h2 mb-3 mb-md-0 mr-3">Product catalog</h1>
    <div class="d-flex align-items-center">
      <div
        class="d-none d-sm-block py-2 font-size-sm text-muted text-nowrap mr-2"
      >
        Sort by:
      </div>
      <ul class="nav nav-tabs font-size-sm mb-0">
        <li class="nav-item">
          <a class="nav-link active">Popular</a>
        </li>
        <li class="nav-item"><a class="nav-link">Cheap</a></li>
        <li class="nav-item"><a class="nav-link">Expensive</a></li>
      </ul>
    </div>
  </section>

  <!-- product section -->
  <div class="row no-gutters mx-n2">
    <div
      class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3"
      *ngFor="let product of products"
    >
      <div class="product-item card product-card pb-3">
        <div class="product-item-content">
          <span class="badge badge-theme badge-shadow"> Sale</span>
          <button
            class="btn-wishlist btn-sm"
            type="button"
            pTooltip="Add to wishlist"
            tooltipPosition="left"
          >
            <i class="far fa-heart"></i>
          </button>
          <div class="p-mb-3 card-image">
            <a routerLink="/miyh/single">
              <img
                src="../../../assets/images/{{ product.image }}"
                [alt]="product.name"
                class="product-image"
                width="199"
                height="157"
            /></a>
          </div>
          <div class="card-body">
            <h3 class="product-title font-size-sm">
              <a href="#">{{ product.name }}</a>
            </h3>
            <div class="product-price">
              <span class="text-accent"> ₹{{ product.price }} </span>
            </div>
          </div>
          <div class="product-floating-btn">
            <button class="btn btn-theme btn-shadow" type="button">
              <i class="fas fa-cart-plus font-size-base"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
