@import "./utility.scss";
@import "./mixins.scss";

body {
  font-family: "Rubik", sans-serif !important;
  @include customscrollbar();
}

.p-tooltip {
  z-index: 1040 !important;
}

.btn-theme {
  color: #fff !important;
  background-color: #fe696a !important;
  border-color: #fe696a !important;
  &:hover {
    color: #fff;
    background-color: #fe696a;
    border-color: #fe696a;
  }
}

.badge-theme {
  color: #fff;
  background-color: #f34770;
}

.btn-scroll-top {
  display: block;
  position: fixed;
  right: -4.125rem;
  bottom: 1.25rem;
  width: 2.75rem;
  height: 2.75rem;
  transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s,
    background-color 0.25s ease-in-out;
  border-radius: 50%;
  background-color: rgba(43, 52, 69, 0.25);
  color: #fff;
  text-align: center;
  opacity: 0;
  z-index: 1025;
  .btn-scroll-top-tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  &:hover {
    background-color: rgba(43, 52, 69, 0.5);
    color: #fff;
    .btn-scroll-top-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.btn-scroll-top.show {
  right: 1.25rem;
  opacity: 1;
}

.btn-scroll-top > .btn-scroll-top-icon {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2.625rem;
}

.btn-outline-accent {
  color: #4e54c8 !important;
  border-color: #4e54c8 !important;
  &:hover {
    color: #fff !important;
    background-color: #4e54c8;
    border-color: #4e54c8 !important;
  }
}

//--social-buttn
.social-btn {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border: 1px solid transparent;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  border-radius: 0.3125rem;
  background-color: #f3f5f9;
  color: #4b566b;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none !important;
  i {
    line-height: 2.125rem;
  }
  &:hover {
    color: #fff;
  }
}

.sb-outline {
  border-color: #e3e9ef;
  background-color: transparent;
  &:hover {
    border-color: transparent;
  }
}

.sb-twitter:hover {
  background-color: #1da1f2;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(29, 161, 242, 0.9);
}
.sb-facebook:hover {
  background-color: #3b5998;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(59, 89, 152, 0.9);
}
.sb-instagram:hover {
  background-color: #5851db;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(88, 81, 219, 0.9);
}
.sb-youtube:hover {
  background-color: #ff0000;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(255, 0, 0, 0.9);
}

.social-btn.sb-light {
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.social-btn.sb-light:hover {
  background-color: #fff !important;
  box-shadow: none !important;
}
.sb-twitter:hover.sb-light {
  color: #1da1f2;
}
.sb-facebook:hover.sb-light {
  color: #3b5998;
}
.sb-instagram:hover.sb-light {
  color: #5851db;
}
.sb-youtube:hover.sb-light {
  color: #ff0000;
}

// --market-button
.btn-market {
  display: inline-block;
  padding: 0.375rem 0.875rem;
  padding-left: 2.8125rem;
  border-radius: 0.4375rem;
  background-position: center left 0.75rem;
  background-color: #2b3445;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  text-decoration: none;
  .btn-market-subtitle {
    display: block;
    margin-bottom: -0.125rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.6875rem;
  }
  .btn-market-title {
    display: block;
    color: #fff;
    font-size: 1rem;
  }
}

.btn-google {
  background-image: url(./../assets/svgs/play-store.svg);
}
.btn-apple {
  background-image: url(./../assets/svgs/apple-store.svg);
}

// wishlist-button
.btn-wishlist {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0 !important;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 0;
  border-radius: 50% !important;
  background-color: #f3f5f9;
  color: #373f50;
  text-align: center;
}
