@import "./variables.scss";

.opacity-60 {
  opacity: 0.6;
}
.opacity-50 {
  opacity: 0.5;
}

.bg-white {
  background-color: $color--white;
}

.bg-darker {
  background-color: $bg--darker !important;
}

.bg-light-black {
  background-color: $bg-light-black !important;
}

.bg-light-gray {
  background-color: $bg-light-gray !important;
}

.theme-color {
  color: $color--theme !important;
}

.border-color {
  color: #e3e9ef !important;
}

// --font-weight

.font-weight-medium {
  font-weight: 600;
}

// --font-size

.font-size-xs {
  font-size: 0.75rem;
}
.font-size-sm {
  font-size: 0.875rem;
}
.font-size-md {
  font-size: 0.9375rem;
}
.font-size-base {
  font-size: 1rem !important;
}

//- widget
.widget-title {
  margin-bottom: 1.125rem;
  font-size: 1.0625rem;
  font-weight: 500;
}
.widget-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-list-item {
  margin-bottom: 0.375rem;
}
.widget-list-link {
  display: block;
  transition: color 0.25s ease-in-out;
  color: #4b566b;
  font-size: 0.875rem;
  font-weight: normal;
}

.widget-light .widget-list-link {
  color: rgba(255, 255, 255, 0.65);
}

.widget-light .widget-list-link:hover {
  color: #fff;
}
