* {
    padding: 0;
    margin: 0;
}
canvas {
    background: #a9a9a952;
    display: block;
    margin: 100px auto;
}

body {
    background-image: url("./images/gaming.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
