.box-shadow-header {
    box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03), 0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
}
.navbar-tool {
    position: relative;
    display: flex;
    align-items: center;
    .navbar-tool-label {
        position: absolute;
        top: -0.3125rem;
        right: -0.3125rem;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: #fe696a;
        color: #fff;
        font-size: 0.75rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.25rem;
    }
}

.navbar-tool-icon-box {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    transition: color 0.25s ease-in-out;
    border-radius: 50%;
    line-height: 2.625rem;
    text-align: center;
    color: #4b566b !important;
}

.navbar-tool-text {
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 0.875rem;
    transition: color 0.25s ease-in-out;
    font-size: 0.875rem;
    text-decoration: none !important;
    white-space: nowrap;
    color: #4b566b !important;
    small {
        color: #7d879c;
        display: block;
        margin-bottom: -0.125rem;
    }
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}

.input-group-icon {
    background-color: white;
    border-right: none;
}

.input-group-append {
    .custom-select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.dropdown .navbar-tool-text::after {
    display: inline-block;
    margin-left: 0.23375em;
    vertical-align: 0.23375em;
    content: "";
    border-top: 0.275em solid;
    border-right: 0.275em solid transparent;
    border-bottom: 0;
    border-left: 0.275em solid transparent;
}

.header {
    .navbar {
        padding: 0rem 1rem;
        .navbar-brand {
            padding: 0;
        }
    }
}

// simple-bar
.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}
.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit !important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
}
.simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0;
}
.simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}
.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.widget-cart-item {
    position: relative;
    .close {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }
    .media {
        transition: all 0.25s ease-in-out;
    }
    &:hover {
        .close {
            visibility: visible;
            opacity: 1;
        }
        .media {
            -webkit-transform: translateX(1.125rem);
            transform: translateX(1.125rem);
        }
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        .navbar-tool-text {
            display: block;
        }
    }

    .navbar-expand-lg .dropdown-menu {
        margin-top: 0;
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.03),
            0 0.275rem 1.25rem -0.0625rem rgba(0, 0, 0, 0.05);
    }
    .navbar-expand-lg .dropdown:hover > .dropdown-menu {
        display: block;
        -webkit-animation: slide-up 0.25s ease-in-out;
        animation: slide-up 0.25s ease-in-out;
    }
}
