<header class="bg-light box-shadow-header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/images/logo-dark.png"
        height="34"
        width="142"
        alt="logo"
      />
    </a>

    <div class="input-group d-none d-lg-flex">
      <div class="input-group-prepend">
        <span class="input-group-text input-group-icon" id="basic-addon1"
          ><i class="fas fa-search"></i
        ></span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Search for products"
        aria-label="Text input with dropdown button"
      />
      <div class="input-group-append">
        <select
          [(ngModel)]="selectedCategory"
          class="custom-select"
          id="inputGroupSelect04"
        >
          <option
            *ngFor="let category of categoryOptions"
            [ngValue]="category.value"
            >{{ category.label }}</option
          >
        </select>
      </div>
    </div>
    <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center ml-xl-2">
      <a
        class="navbar-tool d-flex d-lg-none"
        type="button"
        (click)="toggleNavigation()"
      >
        <div class="navbar-tool-icon-box">
          <i class="navbar-toggler-icon"></i>
        </div>
      </a>
      <a
        class="navbar-tool d-flex d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="navbar-tool-icon-box">
          <i class="fas fa-search"></i>
        </div>
      </a>
      <a class="navbar-tool d-none d-lg-flex">
        <div class="navbar-tool-icon-box">
          <i class="far fa-heart" pTooltip="wishlist" tooltipPosition="top"></i>
        </div>
      </a>
      <a class="navbar-tool">
        <div class="navbar-tool-icon-box">
          <i class="far fa-user"></i>
        </div>
        <div class="navbar-tool-text ml-n3">
          <small>Hello, Sign in</small>My Account
        </div>
      </a>
      <div class="navbar-tool dropdown ml-3">
        <a class="navbar-tool-icon-box">
          <span class="navbar-tool-label">0</span>
          <i class="fas fa-shopping-cart"></i>
        </a>
        <a class="navbar-tool-text"> <small>My Cart</small> $ 0.00 </a>
      </div>
    </div>
  </nav>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="pt-2 pb-4">
      <div class="container">
        <div class="input-group d-sm-flex d-lg-none">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fas fa-search"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
          />
        </div>
      </div>
    </div>
  </div>
</header>
